{{ $key       := .Get 0 -}}
{{ $adoptions := index site.Data.adoptions $key -}}
<br />

<div class="">
  <div class="adoptions-container">
    {{ range $adoptions -}}
    {{ $imgName := .img_name | default (printf "%s_logo" (.tag | lower | replaceRE "[^a-z0-9]" "")) -}}
    {{ $type    := .img_type | default "png" -}}
    {{ $alt     := .alt | default (printf "%s logo" .tag) -}}
    {{ $imgUrl  := printf "/img/logos/adoptions/%s.%s" $imgName $type | relURL -}}
    <div class="adoptions-item">
      <a href="{{ .url }}" target="_blank" rel="noopener noreferrer">
        <img class="adoptions-logo" src="{{ $imgUrl }}" alt="{{ $alt }}">
      </a>
    </div>
    {{ end -}}
  </div>
</div>
